h1{
    color:black;
    text-align:center;
    font-weight:600;
    font-size:80px;
}
.para{
    text-align:center;
    font-size:50px;
    padding:20px;
}
.navbar{
    border:3px solid black;
    padding:20px;
    background-color:black;
    text-align:center;
}
.navbar a{
    color:white;    
    padding:30px;
    font-size:30px;
    text-decoration:none;
}
.navbar a:hover{
    background-color:rgb(169, 169, 199);
}
body{
    margin:0px;
}
.card{
    border:3px solid black;
    width:300px;
    margin: 100px auto;
    text-align:center;
}
.card img{
    width: 100%;
}
.card button{
    margin-bottom: 20px;
    font-size: 20px;
}
.toggle{
    width: 300px;
    margin: 100px auto;
    text-align:center;
}

.toggle img{
    width: 100%;
}
.toggle button{
    margin-bottom: 20px;
    font-size: 20px;
}
